* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: var(--main-text);
  transition-duration: 0.5s;
}

a:hover {
  cursor: pointer;
  opacity: 0.2;
}

ul {
  list-style: none;
}
@font-face {
  font-family: menuFont;
  src: url(../font/FiraSans-Medium.ttf);
  font-weight: bold;
}

@font-face {
  font-family: titleFont;
  src: url(../font/FiraSans-Regular.ttf);
}

:root {
  --main-imp: #631818;
  --main-text: #e7bd70;
  --main-texthover: #e7bd705d;
  /*#721c1c*/
}

body {
  background-color: black;
}

.invisible {
  display: none;
}

/*------------------------------------------------------------------------------------HOME PAGE--------------------------------------------------------------------------------------*/

/*------------------------------------------HEADER---------------------------------------------------*/

nav {
  background-color: var(--main-imp);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.1rem 0 0.1rem;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: var(--main-text);
}
.logo {
  padding: 0.1rem;
  width: 90px;
}

.logo img {
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
  width: 90%;
  padding-right: 1rem;
  height: 100%;
  justify-content: flex-end;
}

.nav-list li {
  font-family: menuFont;
  text-shadow: 2px 2px solid black;
}
.nav-list li a {
  font-size: 1.4rem;
}

.hmb-menu-btn {
  display: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: black;
  color: var(--main-text);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.hmb-menu-btn .fa-solid {
  font-size: 1.8rem;
}

/*------------------------------------------MAIN---------------------------------------------------*/

.table {
  background-image: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.753)),
    url(../img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.content {
  /* outline: 4px solid rgba(128, 128, 128, 0.226);  */
  width: 90%;
  margin: 0 auto;
}

/*------------------------------------------FOOTER---------------------------------------------------*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-imp);
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 8rem;
  font-family: menuFont;
}

.footer-first {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  gap: 1rem;
}

.footer-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 90rem;
}
.footer-menu li a {
  font-size: 1.2rem;
}

.soc-icon {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.soc-icon img {
  width: 1.5rem;
}

.footer-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  /* background-color: cadetblue; */
  width: 90vw;
  color: var(--main-text);
}

.footer-second p {
  font-size: 1rem;
}

.footer-second hr {
  width: 80%;
  border: 1.2px solid var(--main-text);
  border-radius: 5px;
}

/*----------------------------------------------------------------HOME-CONTAINER-------------------------------------------------------------------------------------------*/

.text-color {
  color: var(--main-text);
  text-shadow: 2px 2px 2px black;
}

.home-title {
  font-size: 5rem;
  letter-spacing: 1rem;
  font-family: titleFont;
  font-style: italic;
  font-weight: 200;
  /* margin-top: 1.5rem; */
  text-align: center;
}

.home-title2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-family: titleFont;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.welcome-video {
  width: 100%;
  max-width: 50rem;
  margin: 1rem 0 8rem 0;
  border-radius: 15px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*----------------------------------------------------------------ABOUT-CONTAINER-------------------------------------------------------------------------------------------*/

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}

.about-title {
  font-size: 5rem;
  letter-spacing: 1rem;
  font-family: titleFont;
  font-style: italic;
  font-weight: 200;
/*   margin-top: 1.5rem; */
  text-align: center;
}

.about-box {
  display: flex;
}

.porfil {
  width: 100rem;
  height: 30rem;
  text-align: center;
}

.porfil img {
  width: 100%;
  max-width: 330px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 25px;
}

.text {
  padding: 1.5rem;
}

.text p {
  font-size: 1.8rem;
  line-height: 200%;
  text-shadow: 1px 1px 4px black;
 
}

/*----------------------------------------------------------------prints-CONTAINER-------------------------------------------------------------------------------------------*/

.prints-content {
  width: 62%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  padding: 1rem;
  padding-bottom: 4rem;
 
}

.prints-video {
  width: 30rem;
  border-radius: 15px;
}

.text-prints {
  color: var(--main-text);
  font-family: menuFont;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/*----------------------------------------------------------------SERVICE-CONTAINER-------------------------------------------------------------------------------------------*/

.service-content {
  padding: 2rem;
  padding-bottom: 7rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
}

.service-box {
  display: flex;
  padding: 2rem 4rem;
  /*   background-color: rgba(0, 0, 255, 0.473); */
  /* justify-content: space-between; */
  background: url(../img/paperus2.png);
  background-position: center;
  background-size: cover;
  object-fit:cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
  height: auto;
}

.service-img {
  max-width: 80rem;
  width: 100%;
  /* min-height: 35rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}


.text-service {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-image {
  max-width: 30rem; 
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-bar {
  display: flex;
  gap: 1rem;
}

.bar-box {
  width: 100%;
}

.bar-image{
  max-width: 200px;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-service {
  color: var(--main-text);
  text-shadow: 2px 2px 2px black;
}

.text-service h3 {
  font-size: 3rem;
}
.text-service p {
  font-size: 1.2rem;
  font-weight: bold;

  margin-top: 1rem;
  text-align: start;
  text-shadow: 2px 2px 2px black;
}

/*----------------------------------------------------------------CONTACT-CONTAINER-------------------------------------------------------------------------------------------*/
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: 80rem;
  height: 40rem;
  padding: 0 4rem;
  margin:4rem 0 6rem 0 ;
  background-image: url(../img/paperus2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  width: 50%;
  height: 35rem;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 35rem;
}
.input-area {
  width: 22rem;
  height: 3rem;
  border-radius: 15px;
  border: 1px solid black;
  padding-left: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(245, 245, 245, 0.767);
  font-family: titleFont;
}

.message-area {
  border-radius: 15px;
  border: 1px solid black;
  padding: 1rem;
  width: 25rem;
  height: 8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(245, 245, 245, 0.767);
  font-family: titleFont;
}

.button {
  border-radius: 15px;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.3rem;
  border: 1px solid black;
  background-color: var(--main-imp);
  color: var(--main-text);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: menuFont;
}

.info-box {
  /* background-color: rgba(255, 255, 0, 0.397); */
  width: 50%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
}
.info-box p {
  font-size: 1.7rem;
  font-family: titleFont;
  text-align: center;
  color: var(--main-text);
  text-shadow: 1px 1px 2px black;
}

.info-box-icon {
  width: 1.5rem;
}

.bi-envelope-fill {
  text-shadow: 1px 1px 2px black;
}

.bi-telephone-fill {
  filter: drop-shadow(0 0 40px black);
}

.soc-box {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}

.soc-box-icon {
  width: 2rem;
}

/*--------------- ------------------------------------------------- Responsive Mode   ----------------------------------------------------------*/
@media only screen and (max-width: 1500px) {
  .prints-video {
    width: 28rem;
  }

  @media only screen and (max-width: 1300px) {
    .text-service p {
      font-size: 1rem;
      margin-top: 1rem;
    }
   /*  .service-box {
      padding: 1rem;
    } */
  }

  @media only screen and (max-width: 1180px) {
    /* .service-img {
      width: 40rem;
    }  */

    
   .service-box {
      flex-direction: column;
      align-items: center;
    } 

    .text-service p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .prints-video {
      width: 24rem;
    }

@media only screen and (max-width: 1130px) {
 

  .about-title{
    letter-spacing: .5rem;
  }
  
  .text {
    padding: 4rem  0.4rem;
  }

  .text p {
    font-size: 1.5rem;
    text-align: start;
  }

  .footer-first {
    flex-direction: column;
  }
  .footer-menu {
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
  }
  .soc-icon {
    width: 100%;
    justify-content: center;
  }
  .footer-second {
    padding-top: 1rem;
  }
  .footer-second p,
  a {
    font-size: 0.8rem;
  }
}

 @media only screen and (max-width: 1016px) {
  
  .prints-video {
    width: 35rem;
    border-radius: 15px;
  }
 
  .text-prints {
    margin-bottom: 1rem;
  }

} 

@media only screen and (max-width: 988px) {
  .about-box {
    flex-direction: column;
  }

  .about-title{
    letter-spacing: .5rem;
    font-size: 4rem ;
  }

  .porfil {
   
    width: 100%;
    height: auto;
    text-align: center;
  }
  .text {
    padding: 2rem  0.4rem;
  }



}



@media only screen and (max-width: 870px) {
  .prints-video {
    width: 30rem;
    border-radius: 15px;
  }
  .prints-content {
    width: 100%;
  }
  .nav-list {
    display: none;
  }

  .about-title{
    letter-spacing: .2rem;
    font-size: 3.2rem ;
  }

  .welcome-video {
    margin: 4rem 0 4rem 0;
  }

  .footer-first {
    gap: 2rem;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-menu li a {
    font-size: 1rem;
  }

  .service-box {
    padding: 2rem 2rem;
  }
}

@media only screen and (max-width: 800px) {
  
  .service-content {
    padding: .5rem;
    
  }
  /* .service-img {
    width: 35rem;
  }
  */

}

@media only screen and (max-width: 630px) {
  /* .service-img {
    width: 27rem;
  } */
}


@media only screen and (max-width: 600px) {
  
  .service-content {
    gap: 1rem;
  }
  /* .service-img {
    height: auto;
  } */
  .prints-video {
    width: 25rem;
    border-radius: 15px;
  }

  .about-title{
    letter-spacing: .1rem;
    font-size: 1.7rem ;
  }

  .text {
    padding: .2rem;
  }

  .text p {
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  .home-title {
    font-size: 3.2rem;
    letter-spacing: 0.3rem;
  }
  .home-title2 {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }
  .welcome-video {
    margin: 4rem 0 7rem 0;
  }
}

@media only screen and (max-width: 500px) {
  /* .service-img {
    width: 24rem;
  }
} */

@media only screen and (max-width: 480px) {
  .prints-video {
    width: 20rem;
    border-radius: 15px;
    padding: .5rem;
  }

}

@media only screen and (max-width: 430px) {
/*   .service-img {
    width: 17rem;
  } */
  .text-service p {
    font-size: 1rem;
  }
  .service-content {
    padding: .5rem;
  }

  /* .text-service {
    width: 100%;
  } */
}
